DATABASE_URL="postgresql://postgres:password@localhost:5432/ttd_superapp"
NEXTAUTH_SECRET="isi-dengan-random-string-minimal-32-karakter"
NEXTAUTH_URL="https://domain-kamu.com"
POSTGRES_PASSWORD="ganti-password-db"
